[DESIGN]
# Maximum number of statements in function / method body
max-statements=9

# Maximum number of branch for function / method body
max-branchs=2

[FORMAT]
max-line-length=120

disable=no-member, E0401
